# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java工作室项目\项目位置\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
